
select.digimon {
  background-position: 1px 1px;
  width: 160px;
}

.digimon {
  background-repeat: no-repeat;
  background-position: 1px 0px;
  padding-left: 18px;
}

span{
	position:relative;
	float:left;
}
table, td, tr{
	border:solid;
}
.hidden{
	display:none;
	visibility: hidden;
}

.tooltip {
    position: relative;
}

.tooltiptext {
    visibility: hidden;
    width: 480px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}